<!DOCTYPE html>
<html>
<head>
    <title>
        Sigma Hackathon
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    <div class="ui pointing inverted menu stackable">
        <a href="/" class="active item header">Home</a>
        <a href="news" class="item">News</a>
        <a href="news2.html" class="item">News2</a>
        <a href="form_donor" class="item">Donor</a>
        <a href="form_patient" class="item">Patient</a>
        <a href="common_pool" class="item">Common Pool</a>
        <a href="plasma_bank" class="item">Plasma Bank</a>
        <div class="hamburger">
            <span class="hamburger-bun"></span>
            <span class="hamburger-patty"></span>
            <span class="hamburger-bun"></span>
        </div>
    </div>
