<%- include("./partials/header") %>

    NEWS 1 : <a href='news'>Link</a>
    <br>
    NEWS 2 : <a href='news2.html'>Link</a>
    <br>
    Donor Form : <a href='form_donor.html'>Link</a>
    <br>
    Patient Form : <a href='form_patient.html'>Link</a>
    <br>
    Common Pool : <a href='common_pool.html'>Link</a>
    <br>
    <button onclick="getLocation()">My Location</button>
    <br>
    <button onclick="showstats()">Show Stats</button>
    <br>
    Plasma Bank : <a href='plasma_bank.html'>Link</a>
    <br>
    <p id="geoloc"></p>
    <p id="stats"></p>
    
    <%- include("./partials/footer") %>
    <script type="text/javascript" src="geo.js"></script>
    <script type="text/javascript" src="stats.js"></script>
    
</body>
</html>
