<%- include("./partials/header") %>

    <!--NEWS 1 : <a href='news'>Link</a>
    <br>
    NEWS 2 : <a href='news2.html'>Link</a>
    <br>
    Donor Form : <a href='form_donor.html'>Link</a>
    <br>
    Patient Form : <a href='form_patient.html'>Link</a>
    <br>
    Common Pool : <a href='common_pool.html'>Link</a>
    <br>
    <button onclick="getLocation()">My Location</button>
    <br>
    <button onclick="showstats()">Show Stats</button>
    <br>
    Plasma Bank : <a href='plasma_bank.html'>Link</a>
    <br>
    <p id="geoloc"></p>
    <p id="stats"></p>-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        Home
    </title>
      <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
</head>

<body>    
<div>
    <!--stats-->
    <div class="container border p-3" style="min-height: 20rem;">
        <div class="row">
            <div class="col-12 col-sm-12">
                <h3 class="text-center">Covid-19 Statistics</h3>
                          <!-- Content Row -->
          <div class="row">

            <!-- Location -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Location</div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">City: </div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">Country: </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Total Cases -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">Total Cases</div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">--add here--</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Total Recovered -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Recovered</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h6 mb-0 mr-3 font-weight-bold text-gray-800">--add here--</div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- New Cases -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">New Cases</div>
                      <div class="h6 mb-0 font-weight-bold text-gray-800">--add here--</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
        </div>
    </div>

    <!--news-->
    <div class="container border my-3 p-3" style="min-height: 20rem;">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary text-center">Global Updates</h6>
                    </div>
                    <div class="card-body">
                      <div class="text-center">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="" alt="">
                      </div>
                      <a href="#">Browse for more updates &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary text-center">Local Updates</h6>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" src="" alt="">
                        </div>
                        <a href="#">Browse for more updates &rarr;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--info-grafics-->
    <div class="container border my-3 p-3" style="min-height: 20rem;">
        <div class="row">
            <div class="col-12 col-sm-12">
                <h3 class="text-center">Info-graphics</h3>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary text-center">Info-graphics</h6>
                    </div>
                    <div class="card-body">
                      <h4 class="small font-weight-bold">--add--</h4>
                    </div>
                  </div>
            </div>
        </div>
    </div>

    <!--youtube/twitter-->
    <div class="container border my-3 p-3" style="min-height: 20rem;">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3 class="text-center">Youtube</h3>
                <!-- Youtube Card -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary text-center">Youtube</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">--add--</h4>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-6">
                <h3 class="text-center">Twitter</h3>
                <!-- Twitter Card -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary text-center">Twitter</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">--add--</h4>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container-fluid border bg-secondary" style="min-height: 15rem;">

    </div>
</footer>

</body>
    
   <!-- <%- include("./partials/footer") %>
    <script>
        document.getElementById("home").classList.add("active")
    </script>
    <script type="text/javascript" src="geo.js"></script>
    <script type="text/javascript" src="stats.js"></script>
    -->
    

