
<%- include("./partials/header") %>

    <div id="parallax-world-of-ugg">
  
        <section>
          <div class="title">
            <h3>Let's do some</h3>
            <h1>THE PLASMA BANK</h1>
          </div>
        </section>
        
        <section>
            <div class="parallax-one">
              <h2>OUR MISSION</h2>
            </div>
        </section>
        
        <section>
          <div class="block">
            <p><strong>Situation : </strong>COVID-19 has been on a rampage all across the globe since the past 5 months. From less than a million cases in February, and currently having more than 10 million cases across the globe. 

              The good news is that doctors across the globe have been able to recover more than 5 million COVID patients, with a loss of less than half a million souls. These patients can help improve the recovery rate by donating their plasma.
              
              With a vaccine still a long way away, plasma therapy has been developed as an experimental cure for COVID. Plasma therapy has been helping a lot of families recover their loved ones from COVID.
              <br><br>
              <strong>But since there are very few plasma donors currently, a lot of people who can be saved using this therapy are not getting the required treatment.</strong>
              </p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">For the last few weeks, we have witnessed a flood of heart-wrenching posts on social media platforms from people looking for life-saving plasma for their loved ones. <strong>Hospitals simply do not have enough.</strong> 
              <br><br>
              <strong>Mission : </strong> Our aim is to match COVID recovered individuals with patients who are in need of plasma therapy. The Plasma Bank is a small step towards solving the problem of finding eligible donors in a situation where time is of great essence. 
              
              We sincerely hope you or your loved ones never have to go through this ordeal. But if you do, then we aspire to be able to help you by connecting you with volunteer donors. </p>
          </div>
        </section>
        
        <section>
          <div class="parallax-two">
            <h2>HOW IT WORKS</h2>
          </div>
        </section>
        
        <section>
          <div class="block">
            <p>
              <strong>What Is Plasma?</strong>
              <br>
              &emsp;&emsp;Plasma – the liquid portion of your blood – can be easily replaced by your body. It consists mainly of water, proteins and antibodies that help your body to function. If you have survived COVID-19 then your plasma includes antibodies that could help others fight the virus.
              <br><br>
              <strong>How Is Blood Plasma Used?</strong>
              <br>            
              &emsp;&emsp;Plasma from those who have recovered could be a key part of the fight against COVID-19. Once the COVID-19 plasma is donated, it can take one of two paths: <br><ol><li>&emsp;Directly transfused into patients.</li><li>&emsp;Used to make a potential medicine.</li></ol>
              </p>

          <div class="container"></div>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">
              <strong>Who Can Donate ?</strong>
              <br><br>
              <!--Umang insert table here-->
          
              <table class="table table-hover border">
                <tr><th colspan="5" class="text-center alert alert-info">COMPATIBILITY CHART</th></tr>
                <tr class="text-center">
                  <th rowspan="2">Recipent</th>
                  <th colspan="4">Donor</th>
                </tr>
                <tr class="text-center">
                  <th>O</th><th>A</th><th>B</th><th>AB</th>
                </tr>
                <tr class="text-center">
                  <th>O</th><td>YES</td><td>YES</td><td>YES</td><td>YES</td>
                </tr>
                <tr class="text-center">
                  <th>A</th><td>NO</td><td>YES</td><td>NO</td><td>YES</td>
                </tr>
                <tr class="text-center">
                  <th>B</th><td>NO</td><td>NO</td><td>YES</td><td>YES</td>
                </tr>
                <tr class="text-center">
                  <th>AB</th><td>NO</td><td>NO</td><td>NO</td><td>YES</td>
                </tr>
              </table>
          </div>
        </section>
        
        <section>
          <div class="parallax-three">
            <h2>HOW YOU CAN HELP</h2>
          </div>
        </section>
        
        <section>
          <div class="block">
            <p><span class="first-character ny">B</span>reaking into the New York fashion world is no easy task. But by the early 2000's, UGG Australia began to take it by storm. The evolution of UGG from a brand that made sheepskin boots, slippers, clogs and sandals for an active, outdoor lifestyle to a brand that was now being touted as a symbol of a stylish, casual and luxurious lifestyle was swift. Much of this was due to a brand repositioning effort that transformed UGG into a high-end luxury footwear maker. As a fashion brand, UGG advertisements now graced the pages of Vogue Magazine as well as other fashion books. In the mid 2000's, the desire for premium casual fashion was popping up all over the world and UGG was now perfectly aligned with this movement.</p>
            <p class="line-break margin-top-10"></p>
            <p class="margin-top-10">Fueled by celebrities from coast to coast wearing UGG boots and slippers on their downtime, an entirely new era of fashion was carved out. As a result, the desire and love for UGG increased as people wanted to go deeper into this relaxed UGG experience. UGG began offering numerous color and style variations on their sheepskin boots and slippers. Cold weather boots for women and men and leather casuals were added with great success. What started as a niche item, UGG sheepskin boots were now a must-have staple in everyone's wardrobe. More UGG collections followed, showcasing everything from knit boots to sneakers to wedges, all the while maintaining that luxurious feel UGG is known for all over the world. UGG products were now seen on runways and in fashion shoots from coast to coast. Before long, the love spread even further.</p>
          </div>
        </section>
          
        </div>

        <link rel="stylesheet" href="plasma_bank.css"> 
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>  
</body>
</html>